<section class="hero-bg h-screen max-h-screen flex items-center justify-center">
  <div class="hero-content h-[40vh] bg-[#17171706] bg-opacity-1 p-6 text-center max-w-screen-lg w-6/7 blur-effect rounded ml-vw-65">
    <h1 class="animate__animated animate__fadeInUp text-7xl py-2 font-bold bg-gradient-to-br from-white to-gray-100 text-transparent bg-clip-text drop-shadow-lg mb-6">
      Mais do que <mark class="animate__animated animate__slideInRight">Dentistas</mark>, <br>Especialistas no seu <br> Bem-Estar
    </h1>
    <p class="text-4xl text-white drop-shadow-lg mt-4 my-6">
      Odontologia personalizada para um sorriso saudável e bonito.
    </p>
    <a href="#planos" class="text-white bg-gradient-to-br from-teal-700 to-teal-900 focus:ring-4 ring-green-300 hover:bg-gradient-to-r hover:from-teal-800 hover:to-gray-900 font-semibold rounded-lg text-xl px-5 py-3 text-center me-2 mb-2 mt-4 transition-al">Veja os Planos</a>
    <a type="button" href="\login" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-300 focus:outline-none bg-[#17171774] rounded-lg border border-gray-200 hover:bg-gray-900 focus:z-10 focus:ring-4 focus:ring-gray-100">Acesse sua conta</a>
  </div>
</section>