<style>
    .inline-svg {
      display: inline;
      vertical-align: super;
  }

  .inline-svg2 {
    display: inline;
    vertical-align: middle;
    align-self: center;
}
</style>

<body class="bg-gray-100 text-lg">
  <div class="flex h-screen overflow-hidden">
  
    <%- include ('../dash/partials/sidebar.ejs') %>

    <!-- Main content -->
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
      <%- include ('../dash/partials/navbar.ejs') %>
      <div class="container mx-auto px-6 py-8">
        
        <!-- Botão "Criar Novo Cadastro" -->
         <div class="flex justify-between my-12 items-center">
          
                <h1 class="font-semibold text-4xl text-gray-800 mb-4 animate__animated animate__fadeIn inline-flex">Clientes > Visualizar Todos Cadastros <div class="group inline-block"><svg id="popoverButton" class="inline-svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-6h2v6zm0-8h-2V7h2v4z"/>
                </svg><span class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm left-1/2 text-end text-gray-100 rounded-sm absolute -translate-x-1/2 translate-y-full opacity-0 m-4 mt-6 py-1.5 mx-auto">Visualize todos os cadastros de clientes tanto ativo quanto inativos assim como seus detalhes</span></div>
                </h1>
                
               
               

                <div class="mb-4">
                  <a type="button" href="../admin/clientes/new" class="bg-blue-600 text-white px-4 py-2 rounded-lg inline-flex items-center hover:bg-blue-700 transition">
                    <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                    Criar Novo Cadastro
                  </a>
                </div>
        </div>

        <!-- Seção de Cadastros -->
        <div id="cadastros" class="bg-white rounded-lg shadow-md p-6 animate__animated animate__fadeIn">
          <table class="w-full border border-gray-300 rounded-lg">
            <thead class="bg-gray-200">
              <tr>
                <th class="px-4 py-2 max-w-20 flex justify-start text-left border-b border-gray-300"><svg class="inline-svg2 w-4 h-4 text-gray-800m mr-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 17V1m0 0L1 4m3-3 3 3m4-3h6l-6 6h6m-7 10 3.5-7 3.5 7m-6.125-2H16"/>
              </svg> <h1>ID</h1></th>
                <th class="px-4 py-2 text-left border-b border-gray-300">Nome</th>
                <th class="px-4 py-2 text-left border-b border-gray-300">E-mail</th>
                <th class="px-4 py-2 text-left border-b border-gray-300">Plano</th>
                <th class="px-4 py-2 text-left border-b border-gray-300">Status</th>
                <th class="px-4 py-2 text-left border-b border-gray-300">Ações</th>
              </tr>
            </thead>
            <tbody>
        
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</body>


<script>
  const popoverButton = document.getElementById('popoverButton');
  const popoverContent = document.getElementById('popoverContent');

  popoverButton.addEventListener('mouseover', () => {
      popoverContent.classList.remove('hidden');
  });

  popoverButton.addEventListener('mouseout', () => {
      popoverContent.classList.add('hidden');
  });
</script>

<script>
  document.querySelectorAll('[data-id-cliente]').forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      const idCliente = this.getAttribute('data-id-cliente');
      fetch(`/admin/clientes/${idCliente}/delete`, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          console.log('Recurso deletado com sucesso');
          // Aqui você pode adicionar código para remover o item da interface, se necessário
        } else {
          console.log('Falha ao deletar o recurso');
        }
      }).catch(error => {
        console.error('Erro:', error);
      });
    });
  });
</script>