<div class="logos overflow-hidden px-2">
      <div class="logos-container ">
        <div class="logo_items ">
          <img src="img/brands/images.png" alt="brand">
          <img src="img/brands/ivoclar.png" alt="brand">
          <img src="img/brands/kavo.png" alt="brand">
          <img src="img/brands/mani.png" alt="brand">
          <img src="img/brands/zhermack.webp" alt="brand">
          <img src="img/brands/colgate.png" alt="brand">
          <img src="img/brands/kerr.png" alt="brand">
          <img src="img/brands/biocare.png" alt="brand">
          <img src="img/brands/sirona.png" alt="brand">
        </div>
        <div class="logo_items ">
          <img src="img/brands/images.png" alt="brand">
          <img src="img/brands/ivoclar.png" alt="brand">
          <img src="img/brands/kavo.png" alt="brand">
          <img src="img/brands/mani.png" alt="brand">
          <img src="img/brands/zhermack.webp" alt="brand">
          <img src="img/brands/colgate.png" alt="brand">
          <img src="img/brands/kerr.png" alt="brand">
          <img src="img/brands/biocare.png" alt="brand">
          <img src="img/brands/sirona.png" alt="brand">
        </div>
      </div>
    </div>