    <!-- Sidebar -->
    <aside id="sidebar" class="bg-[#107169] w-64 flex-shrink-0 sidebar">
      <div class="p-4">
          <img class="justify-start" src="img/logo_sm.png" alt="Odontocare" class="w-24 mx-auto mb-0">
          <h3 class="text-white text-center text-2xl font-thin mb-4">Sistema Interno</h3>
          <hr class="mx-4 py-4">
          <nav>
              <ul class="space-y-2">
                <% const menuItems = [
                { id: 'cadastros', icon: 'M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z', label: 'Clientes', url: '/admin/clientes' },
                { id: 'funcionarios', icon: 'M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z', label: 'Colaboradores', url: '/admin/colaboradores' },
                { id: 'estoque', icon: 'M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4', label: 'Estoque' },
                { id: 'atendimentos', icon: 'M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z', label: 'Atendimentos' },
                { id: 'operacoes', icon: 'M13 10V3L4 14h7v7l9-11h-7z', label: 'Operações' }
            ]; %>
                  <% menuItems.forEach(item => { %>
                      <li>
                          <a href="<%= item.url %>" class="text-white hover:bg-[#0e403c] px-4 py-2 rounded flex items-center">
                              <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="<%= item.icon %>"></path>
                              </svg>
                              <%= item.label %>
                          </a>
                      </li>
                  <% }); %>
                 
              </ul>
          </nav>
      </div>
  </aside>

  <script>
    // Toggle sidebar on mobile
    document.getElementById('menuToggle').addEventListener('click', function() {
        document.getElementById('sidebar').classList.toggle('open');
    });

    


</script>